* { margin:0; padding:0; }

body, html {
	color:black;
	font-family:sans-serif;
}

#fullscreen {
	position:absolute;
	opacity:0.2;
	top:0px;
	left:0px;
	width:70px;
	height:70px;
	font-size:120%;
	z-index:2;
}

canvas {
	position:absolute;
	top:0;
	background-color:black;
	display:block;
	height:100%;
	width:100%;
	z-index:1;
}

button:hover
{
	opacity:0.8;
	color:blue;
}

footer {
	font-size:170%;
	opacity:0.1;
	position:absolute;
	bottom:10%;
	width:100%;
	text-align:center;
	z-index:2;
}
