* { margin:0; padding:0; }

body, html {
	height:100%;
	color:black;
	font-family:sans-serif;
}

#fullscreen {
	position:absolute;
	opacity:0.2;
	top:0px;
	left:0px;
	width:70px;
	height:70px;
	font-size:120%;
	z-index:2;
}

#up, #down, #left, #right, #down2
{
	width:15%;
	height:50px;
}

#fire
{
	width:30%;
	height:50px;
}

#fire2
{
	width:80%;
	height:50px;
}

canvas {
	background-color:black;
	display:block;
	width:100%;
	z-index:1;
}

button:hover
{
	color:blue;
}

footer {
	width:100%;
	text-align:center;
}
